
h1 {
    text-align: center;
    border:3px solid black;
    background-color: black;
    color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    padding: 10px;
}
.trafficlight {
    border-radius: 65px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    width: 140px;
    padding: 10px;
    margin: auto;
}
.redlight {
    height: 100PX;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 20px;
    opacity: 0.5;
    border-color:black;
    animation:1s blink infinite;
}
.yellowlight {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 20px;
    opacity: 0.5;
    border-color: black;
}
.greenlight {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 20px;
    opacity: 0.5;
    border-color: black;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}
a{
    border: 2px solid black;
    text-decoration:none;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
a:hover{
    background-color: white;
    color: black;
    animation: 0.5s hoverEffect forwards;
    animation:alternate
}
h1:hover {
    background-color:red;
    color:black;
    cursor:pointer;
    animation: 0.5s hoverEffect forwards;
    animation:alternate;

}
